html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

body{
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.wrapper{
	width: 1200px;
	margin: 0 auto;
}

.content-button{
	min-height: 45px;
	padding: 15px 20px;

	background-color: #ed5a3d;
	background-image: linear-gradient(to bottom, #f26843, #e74b36);
  box-shadow: 0px 4px 4px rgba(172, 16, 0, 0.25);

	border: none;
	border-radius: 22px;

	color: #ffffff;
	font-size: 18px;
	line-height: 1px;
	font-weight: bold;

  cursor: pointer;
}

.content-button:hover{
  background-color: #f07a63;
	background-image: linear-gradient(to bottom, #f58669, #ec6f5e);

  box-shadow: 0px 2px 2px #ac1000;
}

.content-button:active{
  box-shadow: inset 0px 2px 2px #942718;
}

.content-button:active{
  background-image: linear-gradient(to bottom, #d84732, #e1613e);
  box-shadow: inset 2px 2px 1px #942718;
}

/* catalog items */

.catalog-item{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  position: relative;
	width: 280px;
	min-height: 330px;
}

.catalog-item:hover > .item-link,
.catalog-item:focus > .item-link{
  display: block;
}

.catalog-item:hover::after,
.catalog-item:focus::after{
  content: '';
  width: 300px;
  height: 410px;

  position: absolute;
  top: -10px;
  left: -10px;

  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item .item-link{
  display: none;
  padding: 15px 0;

  position: absolute;
  left: 50%;
  bottom: -40px;

  transform: translateX(-50%);
  width: 200px;
  height: 45px;

  text-align: center;
  line-height: 15px;
}

.catalog-item img{
  z-index: -1;
}

.catalog-item h3{
  margin-top: 13px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.catalog-item .price{
  position: absolute;
  bottom: 101px;
  left: 6px;
  font-weight: bold;
  font-size: 45px;
  line-height: 13px;
  color: #ffffff;
}

.price .price-currency{
  position: absolute;
  left: 81px;
  width: 80px;
}

.price .price-weight{
  font-size: 30px;
}

.catalog-item.bestseller::before{
  content: '';
  position: absolute;
  top: 0;
  left: 7px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: #ffffff url('../img/hit.svg') no-repeat center center;
}

/* header */

.header{
	padding: 10px 25px;
	color: #ffffff;
}

.header-navigation{
  position: relative;
}

.header a{
	color: #ffffff;
  display: block;
}

.header-logo img{
  margin-left: 2px;
}

.site-navigation a{
	border-bottom: 1px solid rgba(248, 247, 244, 0.2);
}

.site-navigation a:hover{
  padding: 10px;
  margin: -10px;
  border-radius: 20px;
  border: none;
  background-color: #f7f6f3;
  color: #000000;
}

.site-navigation a:active{
  box-shadow: inset 0px 2px 1px #696969;
}

.site-navigation{
  position: relative;
}

.work-hours{
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;

  margin: -4px 2px 0 0;

	text-align: right;
	flex-grow: 2;

  font-size: 14px;
  line-height: 16px;
}

.work-hours a{
  display: block;
  margin-top: 4px;
	font-size: 22px;
  line-height: 24px;
}

.header-button{
	background-color: rgba(248, 247, 244, 0.2);
	border: none;

	font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
	color: #ffffff;
}

.header-button:hover{
	background-color: rgba(248, 247, 244, 1);
	color: #000000;
}

.header-navigation{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.header-navigation ul{
	list-style: none;
	margin: 0;
}

.header-navigation a{
	text-decoration: none;

	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #ffffff;
}

.header-search{
  display: none;
  position: absolute;
  top: 5px;
  right: 215px;
  padding-top: 45px;
  z-index: 2;
}

.header-search .header-search-form{
  width: 340px;
  padding: 20px 15px;

  border-radius: 5px;
  background-color: #f8f7f4;
}

.header-search-form input[type="search"]{
  width: 100%;
  height: 44px;
  padding-left: 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.header-search-form input:hover{
  border: 2px solid #c7c6c5;
  padding-left: 14px;
}

.header-search-form input:focus,
.header-search-form input:active{
  outline: none;
  border: 2px solid #8fbdec;
  padding-left: 14px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.header-navigation button{
	margin-right: 10px;

	width: 90px;
	height: 30px;

	border-radius: 15px;
  cursor: pointer;
}

.header-navigation button:last-child{
	margin-right: 0;
}

.header-navigation a.search{
  display: block;
  width: 30px;
  height: 30px;
	border-radius: 50%;

  margin-right: 12px;
  margin-top: -11px;
  padding: 6px;
  z-index: 3;
}

a.search svg{
  fill: #ffffff;
}

a.search:hover svg{
  fill: #000000;
}

a.search:hover ~ .header-search,
a.search:focus ~ .header-search{
  display: block;
}

.header-search:hover,
.header-search:focus{
  display: block;
}

.header-navigation a.login{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 90px;
  height: 30px;
  padding: 0 10px;
  margin-right: 11px;
  margin-top: -9px;

  border-radius: 20px;
  z-index: 3;
}

a.login svg{
  fill: #ffffff;
}

a.login:hover svg{
  fill: #000000;
}

/* header login form */

.header-login{
  display: none;
  position: absolute;
  top: 35px;
  right: 115px;

  padding-top: 15px;
  z-index: 2;
}

.header-login .header-login-form{
  width: 280px;
  padding: 20px;
  padding-bottom: 25px;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.header-login-form input[type="email"],
.header-login-form input[type="password"]{
  height: 45px;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 20px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;

  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.header-login-form input:hover{
  border: 2px solid #c7c6c5;
  padding-left: 14px;
}

.header-login-form input:focus,
.header-login-form input:active{
  outline: none;
  border: 2px solid #8fbdec;
  padding-left: 14px;
}

.header-login-form input[type="email"]:focus,
.header-login-form input[type="email"]:active{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.header-login-form button{
  float: left;
  margin-right: 20px;
  width: 100px;
  height: 45px;
  border-radius: 17px;
}

.header-login-form a{
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  text-decoration: underline;
}

.header-login-form a:hover,
.header-login-form a:focus,
.header-login-form a:active{
  color: #eb6552;
}

a.login:hover ~ .header-login,
a.login:focus ~ .header-login{
  display: block;
}

.header-login:hover,
.header-login:focus{
  display: block;
}

/* header navigation */

.header-navigation a.basket{
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 10px;
  width: 100px;
  height: 30px;
  margin-right: 2px;
  margin-top: -8px;
  border-radius: 20px;
}

a.basket svg{
  fill: #ffffff;
}

a.basket:hover svg{
  fill: #000000;
}

.header-navigation .site-navigation{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;

  margin-top: -8px;
  padding: 0;
  padding-left: 23px;
}

.site-navigation li{
	margin: 0;
	margin-right: 29px;
}

.site-navigation li:last-child{
	margin-right: 0;
}

.site-navigation .drop-menu-wrapper{
  display: none;
  position: absolute;
  top: 25px;
  left: 2px;
  padding-top: 10px;
}

.site-navigation .drop-menu{
  width: 145px;
  padding: 3px 0;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.site-navigation .drop-menu-wrapper:hover{
  display: block;
  z-index: 1;
}

.drop-menu a{
  border: none;

  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #323232;
}

.drop-menu-link:hover ~ .drop-menu-wrapper{
  display: block;
}

.drop-menu ul{

}

.drop-menu li{
  padding: 0px 20px;
  margin: 0;
}

.drop-menu li:first-child{
  position: relative;
  margin-bottom: 3px;
  padding-bottom: 5px;
}

.drop-menu li:first-child::after{
  content: '';

  position: absolute;
  bottom: 0;
  left: 8px;

  display: block;
  width: 128px;
  height: 1px;

  background-color: #d1d0ce;
}

.drop-menu li:last-child{
  margin-top: 2px;
}

.drop-menu a:hover{
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #fbded7;
}

.drop-menu li:hover{
  background-color: #fbded7;
}

.drop-menu a:active,
.drop-menu li:active{
  background-color: #f6b5a5;
  box-shadow: none;
}

/* slider */

.body-slide-1{
  background-color: #849d8f;
}

.body-slide-2{
  background-color: #8996a6;
}

.body-slide-3{
  background-color: #9d8b84;
}

.main-slider{
	position: relative;
	min-height: 600px;

  display: flex;
	justify-content: center;
}

.slide{
  display: none;
}

.slide.active{
  display: block;
}

.slide img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  z-index: -1;
}

.slide-1 img{
  top: 52%;
}

.slide-2 img{
  top: 49%;
}

.slide-3 img{
  top: 47%;
}

.slide .slider-title{
	max-width: 680px;
  margin: 266px -7px 32px -4px;
  padding: 0;

	font-size: 60px;
  font-weight: bold;
  line-height: 60px;
	color: #ffffff;
  text-align: center;
}

.slider-title span{
  margin-left: -2px;
}

.main-slider .slider-button{
  display: block;

  position: absolute;
  bottom: 121px;
  left: 462px;

  width: 277px;
	min-height: 64px;
	border-radius: 30px;

  text-align: center;
	font-size: 32px;
	line-height: 32px;
  cursor: pointer;
}

.main-slider .slider-navigation{
	position: absolute;
	left: 26px;
	bottom: 139px;
}

.slider-navigation button{
  width: 21px;
  height: 21px;
  margin-left: 3px;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-navigation button:hover{
  background-color: rgba(247, 247, 247, 0.4);
}

.slider-navigation button.active{
  background-color: #ffffff;
}

/* banners */

.banners{
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;

  width: 1145px;
  margin: -79px 0 38px 27px;
}

.banners article{
  position: relative;

	width: 560px;
	min-height: 229px;
	border-radius: 15px;

  padding: 16px 18px;

  color: #ffffff;
}

.banners h3{
  padding: 0;
  margin: 0;

  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.banners p{
  margin: 0;
  margin-top: 14px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.banners .banner-link{
  position: absolute;
  right: 22px;
  bottom: 25px;
  line-height: 15px;
}

.banners .raspberry{
  background: #59122b url('../img/raspberry-bg.jpg');
}

.raspberry .banner-link{
  width: 165px;
}

.banners .chocolate{
  background: #57311e url('../img/chocolate-bg.jpg');
  letter-spacing: 0.1px;
}


/* bestsellers */

.bestsellers{
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  width: 1175px;
}

/* information */

.information{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 1148px;
  min-height: 305px;
  padding: 5px 18px;
  margin: 22px auto;
  border-radius: 15px;
  background: #eee3cb url('../img/wafer.png') repeat 0 0;

  color: #323232;
}

.information h2{
  margin-bottom: 0;
  padding-left: 2px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
}

.information p{
  position: relative;
  display: block;
  width: 536px;
  padding-left: 48px;
  margin: 0;
  margin-top: 6px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.information p:nth-child(2n+1){
  padding-left: 58px;
}

.information .production::before{
  content: '';
  width: 49px;
  height: 49px;

  position: absolute;
  top: -12px;
  left: -7px;

  background: transparent url('../img/ice-cream-logo.svg') no-repeat center center;
}

.information .purchase::before{
  content: '';
  width: 49px;
  height: 49px;

  position: absolute;
  top: -12px;
  left: 2px;

  background: transparent url('../img/cow-logo.svg') no-repeat center center;
}

.information .ingredients::before{
  content: '';
  width: 49px;
  height: 49px;

  position: absolute;
  top: -14px;
  left: -7px;

  background: transparent url('../img/leaflet-logo.svg') no-repeat center center;
}

.information .delivery::before{
  content: '';
  width: 49px;
  height: 49px;

  position: absolute;
  top: -14px;
  left: 1px;

  background: transparent url('../img/termometr-logo.svg') no-repeat center center;
}

/* blog */

.inner-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 20px;
}

.inner-wrap section{
  width: 560px;
  min-height: 220px;

  border-radius: 15px;
}

.blog{
  padding: 24px 20px;
  background: #ffffff url('../img/strawberry-bg.jpg') no-repeat 0 0;
  color: #323232;
}

.blog h2{
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog a{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: #323232;
}

.blog a:hover,
.blog a:focus{
  color: #eb6552;
}

.subscription{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 6px;

  min-height: 250px;
  width: 590px;

  overflow: hidden;

  background-image:
    repeating-linear-gradient(135deg,
      #fe9e90 0,#fe9e90 1px,
      #ffffff 1px,#ffffff 8px,
      #92cdff 8px,#92cdff 15px,
      #ffffff 15px,#ffffff 22px,
      #fe9e90 22px,#fe9e90 28px);
}

.subscription-wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  padding: 14px 20px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #5A5A5A;
}

.subscription-wrap form{
  background-color: #ffffff;
  background-image: none;
  width: 100%;
  min-height: 55px;

  margin: 0;
  margin-top: 18px;
  padding: 0;
}

.subscription-form input{
  width: 368px;
  height: 45px;
  padding-left: 14px;
  margin-right: 7px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;

  font-size: 16px;
  line-height: 24px;
}

.subscription-form input:hover{
  border: 2px solid #c7c6c5;
  padding: 0;
  padding-left: 13px;
}

.subscription-form input:focus,
.subscription-form input:active{
  outline: none;
  border: 2px solid #8fbdec;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.subscription-form button{
  width: 127px;
}

/* map */

.map{
  position: relative;
  min-height: 430px;
}

.map .contacts-wrap{
  position: relative;
  min-height: 430px;
  width: 1230px;
  margin: 0 auto;

  background: url(../img/map.png) no-repeat center center;
}

.map .contacts{
  position: absolute;
  top: 63px;
  right: 40px;
  z-index: 1;

  width: 300px;
  padding: 10px 22px;

  background-color: #ffffff;
  border-radius: 15px;
  color: #323232;
}

.map iframe{
  position: absolute;
  top: 0;
  left: 0;
}

.contacts p{
  margin-top: 18px;
  margin-bottom: 0px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts address{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts a{
  display: block;
  margin-top: 6px;
  margin-bottom: 3px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}

.contacts button{
  width: 255px;
  margin-top: 24px;
  margin-bottom: 20px;
}

/* footer */

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1170px;
  margin: 0 auto;
  padding: 20px 10px;

  color: #ffffff;
}

.footer a{
  color: #ffffff;
}

.footer ul{
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer .social-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 184px;
  min-height: 45px;

  margin-top: 15px;
  margin-left: 3px;
}

.social-links a{
  display: block;
  width: 38px;
  height: 38px;

  border-radius: 50%;
  background-color: #e6ebe9;
  opacity: 0.8;
}

.social-links a:hover,
.social-links a:focus,
.social-links a:active{
  opacity: 1;
}

.social-links .twitter{
  background: #c2cec7 url('../img/twitter-logo.svg') no-repeat center center;
}

.social-links .instagram{
  background: #c2cec7 url('../img/insta-logo.svg') no-repeat center center;
}

.social-links .facebook{
  background: #c2cec7 url('../img/fb-logo.svg') no-repeat center center;
}

.social-links .vkontakte{
  background: #c2cec7 url('../img/vk-logo.svg') no-repeat center center;
}

.footer-navigation{
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-left: 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.footer-navigation a{
  border-bottom: 1px solid rgba(248, 247, 244, 0.2);
}

.footer-navigation a:hover,
.footer-navigation a:focus{
  color: #eb6552;
}

.footer-info li:first-child{
  position: relative;
  font-weight: bold;
}

.footer-info li:first-child::before{
  content: '';
  position: absolute;
  top: 2px;
  left: -21px;
  width: 15px;
  height: 13px;
  background: url('../img/like.svg');
}

.footer-info li{
  margin-bottom: 6px;
}

.footer-navigation .footer-documents{
  margin-left: 31px;
}

.footer-documents li{
  margin-bottom: 6px;
}

.footer .copyright{
  position: relative;
  padding-top: 29px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.footer .copyright::before{
  content: '';
  width: 108px;
  height: 38px;

  position: absolute;
  top: -13px;
  left: 2px;

  background: url('../img/logo-htmlacademy-small.svg') no-repeat 0 0;
}

.copyright a:hover,
.copyright a:focus{
  color: #eb6552;
}

/* feedback popup */

.feedback-wrapper{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.feedback-popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  width: 480px;
  padding: 25px;
  padding-top: 20px;

  border-radius: 10px;
  background-color: #f8f7f4;
  z-index: 6;
}

.feedback-popup .modal-close{
  position: relative;
  top: -4px;
  left: 410px;

  width: 18px;
  height: 18px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.feedback-popup .modal-close::after,
.feedback-popup .modal-close::before{
  content: '';
  position: absolute;
  width: 22px;
  height: 3px;
  background-color: #000000;
}

.feedback-popup .modal-close::after{
  transform: rotate(45deg);
}

.feedback-popup .modal-close::before{
  transform: rotate(-45deg);
}

.feedback-popup h3{
  margin-top: -18px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback-popup .feedback-form{
  display: flex;
  flex-direction: column;
}

.feedback-form input,
.feedback-form textarea{
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 0 15px;
  color: #999999;
}

.feedback-form input:hover,
.feedback-form textarea:hover{
  border: 2px solid #c7c6c5;
  padding-left: 14px;
}

.feedback-form input:focus,
.feedback-form input:active,
.feedback-form textarea:focus,
.feedback-form textarea:active{
  outline: none;
  border: 2px solid #8fbdec;
  padding-left: 14px;
}

.feedback-form textarea:focus,
.feedback-form textarea:active,
.feedback-form textarea:hover{
  margin-top: -1px;
  margin-bottom: -1px;
}

.feedback-form input{
  width: 270px;
  height: 45px;
  margin-bottom: 20px;
}

.feedback-form textarea{
  padding: 15px;
}

.feedback-form button{
  width: 140px;
  height: 45px;
  margin-top: 25px;
  align-self: flex-end;
}
